@import url('./assets/fontawesome/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./src/assets/font_roboto/Roboto-Regular.ttf') format('truetype');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.plane {
  animation: spin 3s linear infinite;
}
.earth {
  animation: spin-up 20s linear infinite;
}
.result {
  animation: disapp 3s linear;
  visibility: collapse;
}

.edit,
.edit::backdrop {
  animation: dialog-open 300ms ease-out;
  backdrop-filter: blur(4px) brightness(80%);
}

.close,
.close::backdrop {
  animation: dialog-close 300ms ease-in;
  backdrop-filter: blur(2px) brightness(90%);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes disapp {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes dialog-open {
  from {
    backdrop-filter: blur(0px) brightness(100%);
    opacity: 0;
    transform: scale(0);
  }
  50% {
    backdrop-filter: blur(1px) brightness(90%);
    opacity: 0.5;
    transform: scale(0.5);
  }
  to {
    backdrop-filter: blur(4px) brightness(80%);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dialog-close {
  from {
    backdrop-filter: blur(4px) brightness(80%);
    opacity: 1;
    transform: scale(1);
  }
  50% {
    backdrop-filter: blur(1px) brightness(90%);
    opacity: 0.5;
    transform: scale(0.5);
  }
  to {
    backdrop-filter: blur(0px) brightness(100%);
    opacity: 0;
    transform: scale(0);
  }
}
