@import url("./assets/fontawesome/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.plane {
  animation: spin 3s linear infinite;
}
.earth {
  animation: spin-up 20s linear infinite;
}
.result {
  animation: disapp 5s linear;
  visibility: collapse;
}

.edit {
  animation: flight 200ms ease-out;
}

.close {
  animation: flight-close 200ms ease-in;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes disapp {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes flight {
  from {
    backdrop-filter: blur(0px) brightness(100%);
    opacity: 0;
    transform: scale(0);
  }
  50% {
    backdrop-filter: blur(2px) brightness(70%);
    opacity: 0.5;
    transform: scale(0.5);
  }
  to {
    backdrop-filter: blur(4px) brightness(40%);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flight-close {
  from {
    backdrop-filter: blur(4px) brightness(40%);
    opacity: 1;
    transform: scale(1);
  }
  50% {
    backdrop-filter: blur(2px) brightness(70%);
    opacity: 0.5;
    transform: scale(0.5);
  }
  to {
    backdrop-filter: blur(0px) brightness(100%);
    opacity: 0;
    transform: scale(0);
  }
}
