@import url("./assets/fontawesome/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.plane {
  animation: spin 3s linear infinite;
}
.earth {
  animation: spin-up 20s linear infinite;
}
.result {
  animation: disapp 5s linear;
  visibility: collapse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes disapp {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: collapse;
  }
}
